<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}">
    <title>Projet Crypto</title>
</head>
<body>
    <h1>Authenticator</h1>

    <form action="{{ url_for('index') }}" method="post" class="form-inline my-2">
        <label for="username" class="mr-2">Username:</label>
        <input type="text" id="username" name="username" class="form-control mr-2">
        <button type="submit" class="btn btn-primary">Se connecter</button>
    </form>

    <button onclick="redirectToCreateAccount()" class="form-inline my-2" >Créer un compte</button>

    <script>
        function redirectToCreateAccount() {
            window.location.href = "/signup";
        }
    </script>
</body>
</html>
