<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}">
    <title>Projet Crypto</title>
</head>
<body>
    <h1>Authenticator</h1>
    <button onclick="redirectToLogin()" class="form-inline my-2 custom-button-blue" >Se connecter</button>

    <button onclick="redirectToCreateAccount()" class="form-inline my-2" >Créer un compte</button>

    <script>
        function redirectToCreateAccount() {
            window.location.href = "/signup";
        }
        function redirectToLogin() {
            window.location.href = "/login";
        }
    </script>
</body>
</html>
